* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 a {
  color: aliceblue;
  text-decoration: none;
}

body {
  background-color: #451175;
}

#menu{
  position: fixed;
  background-color: rgb(42, 36, 68);
  height: 100vh;
  padding: 2rem;
  z-index: 9;
  right: 0;
  transform: translateX(100%);
  transition: transform 1s;

}

#menu-icon{
  color: #fff;
  text-shadow: #000 2px 2px 2px;
  position: fixed;
  z-index: 10;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}



#menu a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.icon{
  width: 24px;
  height: 24px;
}

#menu li{
  padding: 1rem;
border-radius: .5rem;
transition:  background-color .5s;
}

#menu li:hover{
  background-color: #120035;
}


#menu.open{
  transform: translateX(0);
}

.iconPage {
  transform: scale(0.7);
}

header {
  background-color: #120035;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  padding: 20px;
}

#site-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links a {
  padding: 20px;
  transition: 0.5s;
}

.links a:hover {
  background-color: #ffffff5d;
}

.icons {
  display: flex;
  gap: 3rem;
}

.links a {
  color: rgb(244, 240, 247);
  text-decoration: none;
}

.fa-magnifying-glass,
.fa-crown,
.fa-bookmark,
.fa-user {
  transform: scale(1.6);
  transition: 0.5s;
}

.fa-bookmark:hover,
.fa-user:hover,
.fa-crown:hover,
.fa-magnifying-glass:hover {
  transform: scale(1.8);
}

.co_page1 {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 166vh;
  width: 90%;
  margin: 5%;
  background-color: #120035;
  border-radius: 2.8rem;
  color: white;
  gap: 5rem;
}

.co_page1 h2 {
  margin-top: 50px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  width: 80%;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.conjunto1 {
  display: grid;
  padding: 1rem 2rem 1rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  gap: 5%;
  align-items: center;
  text-align: center;
}

.conjunto1 p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  color: white;
}

.conjunto1 img {
  width: 68%;
  transition: 0.5s;
  border-radius: 5px;
}

.conjunto1 img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.co_page2 {
  background-color: #120035;
  padding: 3rem;
}

.co_page2 h2 {
  display: flex;
  justify-content: center;
  color: white;
  padding: 1.5rem;
  padding-top: 0;
  font-size: 1.6 rem;
}

.swiper-slide:hover {
  cursor: pointer;
}

#imgMid01,
#imgMid02,
#imgMid03 {
  width: 70%;
}

.swiper {
  display: flex;
  align-items: center;
  width: 80%;
  transition: 0.5s;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}

.co_page3 {
  height: 100%;
  padding: 3rem;
  background-color: #451175;
}

#cards {
  background-color: rgb(207, 207, 207);
  align-items: center;
  padding: 100px;
  width: 90%;

}

.card-content:hover {
  opacity: 1;
  transform: translateY(0);
  cursor: pointer;
  transform: scale(1.1);
}

#imgDown01,
#imgDown02,
#imgDown03,
#imgDown04 {
  width: 100%;
}

.co_page3 ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  max-width: 280px;
  height: 380;
  position: relative;
  cursor: pointer;

}

.card:hover .card-content {
  opacity: 1;
  transform: translateY(0);
}

ul {
  list-style: none;
}

#secao-projeto ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}

.card-image-wrapper {
  height: 380px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  /*contendo imagem*/
  border-radius: 1rem;
}

.card-image-wrapper img {
  max-width: 280px;
  max-height: 380px;
}

/*Esse card content pode deixar*/
.card-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 25%;
  left: .5rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 1s, transform 1s;
  text-shadow: 1px 1px 2px black;

}

.card {
  color: rgb(255, 255, 255);
}

.card h2 {
  font-size: 1.5rem;
}

.card img {
  opacity: 0.7;
}

#votacao {
  height: 100%;
  padding: 3rem;
  background-color: #380d65;
}

.form_voto {
  color: white;
  display: grid;
  background-color: #000000;
  max-width: 500px;
  border-radius: .5rem;
  padding: 2rem;
  margin: 2rem auto;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

}

#votar {
  display: flex;
  flex-direction: row;
}

.campo {
  display: flex;
  flex-direction: column;

}

.linha {
  grid-column: 1/3;
}

input[type="text"],
input[type="number"],
select {

  color: white;
  background-color: rgb(68, 68, 68);
  border: none;
  padding: .5rem;
  border-radius: 1rem;
  outline: none;

}

input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  accent-color: #00a6ff;
}

input:focus {
  border: solid 1px #00a6ff;
}

label {
  margin-bottom: 15px;
}

button {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid white;
  background: black;
  color: white;
  transition: 0.5s;

}

button:hover {
  background-color: white;
  color: #000000;
}

.baseboard {
  padding: 1rem;
  background-color: white;
  font-size: 1.2rem;

}

.baseboard ul {
  display: flex;
  justify-content: space-around;
  color: #380d65;
}

.botao {
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  padding: 15px;
  text-decoration: none;
  transition: 0.5s;
}

.botao:hover {
  color: black;
  background-color: white;
}

.tr {
  color: white;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 10px;
  font-size: 2rem;

}